<div>
  <form #formularioIngreso="ngForm">
    <h2 class="subheader">Nuevo Pokemon</h2>
    <div class="center">
      <table class="center">
        <tr>
          <td>
            <a>Nombre </a>
            <input type="text" name="pokemonName" #nombre="ngModel" [(ngModel)]="colectorInfo.name">
          </td>
          <td>
            <a>Ataque: </a>
            <a>0</a>
            <input type="range" id="atack" name="atack" min="0" max="100" #atack="ngModel" [(ngModel)]="colectorInfo.attack">
            <a>100</a>
          </td>
        </tr>
        <tr>
          <td>
            <a>Imagen </a>
            <input type="text" name="image" placeholder="URL" #image="ngModel" [(ngModel)]="colectorInfo.image">
          </td>
          <td>
            <a>Defensa: </a>
            <a>0</a>
            <input type="range" id="defense" name="defemse" min="0" max="100" #defense="ngModel" [(ngModel)]="colectorInfo.defense">
            <a>100</a>
          </td>
        </tr>
        <div class="center">
          <button (click)="onSubmit()" type="submit" class="btn"  > Enviar</button>
          <button class="btn" type="reset">Cancelar</button>
        </div>
      </table>
    </div>
  </form>
</div>

<div class="clearfix"></div>

<aside id="sidebar">
  <div class="subheader">
    <h1>Editar Pokemons</h1>
  </div>
  <div id="nav-blog" class="sidebar-item">
    <div>
      <table id="tablePokemons">
        <tr>
          <td>Nombre</td>
          <td>Imagen</td>
          <td>Ataque</td>
          <td>Defensa</td>
          <td>Acciones</td>
        </tr>
        <tr *ngFor="let pokemon of pokemons">
          <td>{{pokemon.name}}</td>
          <td><img alt="Pokemon" src="{{pokemon.image}}"></td>
          <td>{{pokemon.attack}}</td>
          <td>{{pokemon.defense}}</td>
          <td>
            <button class="btn" >
              Editar
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</aside>
<div class="clearfix"></div>
